In [6]:
#import libraries
import pandas as pd
import numpy as np
import os

In [7]:
#1.If you haven’t merged your prepared Instacart orders data with the new orders_products_prior dataframe per the instructions in this Exercise, do so now.

#### Done

In [8]:
#2.Export the merged file in pickle format as “orders_products_combined.pkl”.

#### Done

In [9]:
#3.In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [10]:
path=r"C:\Users\abdul\Career-Foundry-Assignment4-Instacart-Basket-Analysis"

In [11]:
op_combined=pd.read_pickle(os.path.join(path, '02_Data', 'Prepared-Data','orders_products_combined.pkl'))

In [12]:
op_combined.head(5)

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,7.0,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,7.0,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,7.0,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,7.0,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,7.0,26405,5,0,both

In [25]:
op_combined.shape

(32434489, 13)

In [14]:
op_combined_cl=op_combined.drop(columns=['_merge'])

In [15]:
op_combined_cl.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,0,0,2539329,1,prior,1,2,8,7.0,196,1,0
1,0,0,2539329,1,prior,1,2,8,7.0,14084,2,0
2,0,0,2539329,1,prior,1,2,8,7.0,12427,3,0
3,0,0,2539329,1,prior,1,2,8,7.0,26088,4,0
4,0,0,2539329,1,prior,1,2,8,7.0,26405,5,0

In [24]:
op_combined_cl.shape

(32434489, 12)

In [ ]:
#4.Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [ ]:
orders_products_combined.shape

### It is same as dimension when exported.

In [ ]:
#5.Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [16]:
df_prods_cleaned= pd.read_csv(r"C:\Users\abdul\Career-Foundry-Assignment4-Instacart-Basket-Analysis\02_Data\Prepared-Data\products_Cleaned.csv")

In [17]:
df_prods_cleaned.head(5)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [18]:
df_prods_cleaned.shape

(49672, 6)

In [19]:
df_orders_product_large=op_combined_cl.merge(df_prods_cleaned, on='product_id', indicator= True, how='inner')

In [21]:
df_orders_product_large.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,0,2539329,1,prior,1,2,8,7.0,196,1,0,195,Soda,77,7,9.0,both
1,1,1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [23]:
#6.Confirm the results of the merge using the merge flag.

In [22]:
df_orders_product_large['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [26]:
df_orders_product_large.shape

(32404859, 18)

In [27]:
# Exporting to PKL file
df_orders_product_large.to_pickle(os.path.join(path, '02_Data', 'Prepared-Data','orders_products_merged.pkl'))

In [ ]:
#7.Ensure your notebooks and Instacart project folder are organized and that comments and section headings have been used throughout your code. All your exported data files should be effectively labelled and stored in your “Data” folder.

#### Done

In [ ]:
#8.Save the two notebooks and send them to your tutor along with a screenshot of the exported datasets in your Instacart project folder.

#### Done